$white: #ffffff;
$black: #000000;
$backgroundDark: #0e172f;

%SatoshiRegular {
  font-family: Satoshi-Regular;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0em;
  text-align: left;
}
